body{
    background-color: rgb(255, 173, 255);
}

#naglowek{
    text-align: center;
    font-size: 200%;
    -webkit-text-stroke: 0.9px rgb(0, 0, 0);
    color: rgb(255, 160, 255)
}

#btnwroc{
    border: 2px solid rgb(255, 70, 255);
    background-color: rgb(255, 160, 255);
    border-radius: 5%;
    font-size: 75%;
    margin-left: 2%;
}

#infop{
    text-align: center;
}