html, body {
  height: 100%;
  margin: 0;
}

body {
  
  box-sizing: border-box;
}

body{
    background: linear-gradient(to right, rgb(255, 173, 255), #fad0c4);
}

#naglowek{
    text-align: center;
    font-size: 200%;
    -webkit-text-stroke: 0.9px rgb(0, 0, 0);
    color: rgb(255, 160, 255)
}

#btntajny, #btnwyjazd{
    border: 2px solid rgb(255, 70, 255);
    background-color: rgb(255, 160, 255);
    border-radius: 15%;
    font-size: 100%;
    margin-left: 10%;
}

#btntajny:hover, #btnwyjazd:hover{
    border: 2px solid rgb(253, 50, 253);
    background-color: rgb(255, 100, 255);
    border-radius: 15%;
    font-size: 100%;
    margin-left: 10%;
}

#btntajny:active, #btnwyjazd:active{
    border: 2px solid rgb(253, 50, 128);
    background-color: rgb(175, 74, 133);
    border-radius: 15%;
    font-size: 100%;
    margin-left: 10%;
}